{:http_options {:follow-redirects :always
                ;; :proxy {:host "proxy.local"
                ;;         :port 80}
                                      
                 ;; :connect-timeout  10000
                 ;; :throw-exceptions false
                 }
 :ragno-options {:check-links 20}
 :redis {:url "redis://localhost:6379/"
         :queue-name "ragno"}
 }
